.comp path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  stroke-width: 1;
  stroke: #f5f5f5;
  fill: transparent;
  stroke-opacity: 1;
}

.decomp path {
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  stroke-width: 1;
  stroke: #f5f5f5;
  fill: transparent;
  stroke-opacity: 1;
}

.comp *,
.decomp * {
  animation: inherit;
}

@keyframes comp-outline-svg {
  from {
    stroke-width: 1;
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes decomp-outline-svg {
  from {
    /* stroke-dashoffset: 0;
    stroke-width: 1; */
  }
  to {
    stroke-dashoffset: 1;
  }
}

@keyframes comp-fill-svg {
  from {
    fill: transparent;
  }
  to {
    fill: #f5f5f5;
  }
}

@keyframes decomp-fill-svg {
  from {
    /* fill: #f5f5f5; */
  }
  to {
    fill: transparent;
    /* stroke: transparent; */
  }
}
