nav {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 10em;
  padding-top: 10px;
}

.clickable {
  cursor: pointer;
}

.header-style {
  height: 30px;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}

path.texture {
  transition: fill-opacity 0.2s ease;
}

svg.highlight:hover path.texture {
  fill-opacity: 0.7;
}

.comp path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  stroke-width: 1;
  stroke: #f5f5f5;
  fill: transparent;
  stroke-opacity: 1;
  animation: comp-svg 2s ease-in-out 2s forwards;
}

.decomp path {
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  stroke-width: 1;
  stroke: #f5f5f5;
  fill: #f5f5f5;
  stroke-opacity: 1;
  animation: decomp-svg 2s ease-in-out forwards;
}

@keyframes comp-svg {
  to {
    fill: #f5f5f5;
    stroke-dashoffset: 0;
  }
}

@keyframes decomp-svg {
  0% {
    fill: #f5f5f5;
  }
  90% {
    fill: transparent;
  }
  100% {
    fill: transparent;
    stroke-dashoffset: 1;
  }
}
