.banner-text {
  height: auto;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin: auto 0px;
  position: relative;
}

.banner-text > * {
  margin-right: 0px;
  margin-left: auto;
}

.banner {
  margin: auto 0px auto auto;
}
