.banner-column {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  width: 50vw;
}

.banner-text {
  padding-left: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.banner {
  margin: auto 0px auto auto;
}

.banner > path {
  fill: whitesmoke;
}

.light-bulb {
  margin: 20px auto auto auto;
  width: 200px;
}

.ballerina {
  margin: auto auto;
}
