section {
  margin: auto auto 10px 0px;
  padding-top: 5px;
}

.name svg {
  height: 40px;
}

.name svg path {
  transition: stroke-width 0.5s ease-in-out;
}

.lowstroke svg path {
  stroke-width: 0.5;
}
