nav.pages-nav-bar {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 10em;
  padding-top: 10px;
}

.clickable {
  cursor: pointer;
}

.header-style {
  height: 30px;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}

path.texture {
  transition: fill-opacity 0.2s ease;
}

svg.highlight:hover path.texture {
  fill-opacity: 0.5;
}

@media only screen and (max-width: 768px) {
  nav.pages-nav-bar {
    justify-content: space-around;
  }
  .header-style {
    margin: 0px;
  }
}
