.portrait-banner {
  width: 100vw;
  height: 60%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.selected-portrait {
  width: auto;
  height: 100%;
  position: absolute;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
}

img.selected-portrait {
  z-index: 1;
  opacity: 0.98;
  clip-path: circle(46%);
  transition: opacity 0.5s ease;
  transform: translateX(-51%); /* extra 1% cause my outlining skils suck*/
}

.selected-portrait.filled {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.selected-portrait.filled:hover {
  opacity: 0;
}

div.selected-portrait.enter-animation svg.selected-portrait path {
  stroke-width: 0;
}

div.selected-portrait.enter-animation {
  opacity: 0;
  animation: fade-in-image 1s ease 2.5s forwards;
}

.portrait-description {
  width: 50%;
  height: auto;
}

.portrait-container {
  width: auto;
  height: 100%;
  margin: auto;
  position: relative;
}

@keyframes fade-in-image {
  to {
    opacity: 0.98;
  }
}
