.portrait-banner {
  width: 100%;
  height: auto;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.portrait-description {
  width: 50%;
  height: auto;
  margin: auto;
}

.portrait-container {
  width: 50%;
  height: auto;
  position: relative;
  margin: 10px;
}

.selected-portrait {
  width: auto;
  height: 100%;
  max-height: 400px;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.enter-animation {
  height: 100%;
  opacity: 0;
  animation: fade-in 1s ease 2.5s forwards;
}

img.selected-portrait {
  z-index: 1;
  opacity: 0.98;
  clip-path: circle(46%);
  transition: opacity 0.5s ease;
}

img.selected-portrait:hover {
  opacity: 0;
}

div.portrait.enter-animation svg.selected-portrait path {
  stroke-width: 0;
}

.portrait-description.enter-animation {
  animation: fade-in 1s ease 0s forwards;
}

.portrait-description.exit-animation {
  animation: fade-out 1s ease 0s forwards;
}

.description-box {
  margin: 30px 10px;
  padding: 10px;
  background-color: rgba(245, 245, 245, 0);
  width: calc(100% - 60px);
  height: auto;
  min-height: 300px;
}

.description-box > .title-wrapper {
  text-align: center;
}

.title-wrapper > h1.title {
  margin: 0px;
  color: rgba(245, 245, 245, 1);
  text-decoration: underline;
}

.description-box > h3.description {
  white-space: pre-wrap;
  font-size: 1.2rem;
  color: rgba(245, 245, 245, 0.9);
}
