.portrait-banner {
  width: 100%;
  height: 385px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.portrait-description {
  width: 50%;
  height: auto;
  overflow-y: hidden;
}

.portrait-container {
  width: 50%;
  height: auto;
  position: relative;
  margin: 10px;
}

.selected-portrait {
  width: auto;
  height: 100%;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.enter-animation {
  height: 100%;
  opacity: 0;
  animation: fade-in 1s ease 2.5s forwards;
}

img.selected-portrait {
  z-index: 1;
  opacity: 0.98;
  clip-path: circle(46%);
  transition: opacity 0.5s ease;
}

img.selected-portrait:hover {
  opacity: 0;
}

div.enter-animation svg.selected-portrait path {
  stroke-width: 0;
}

@keyframes fade-in {
  to {
    opacity: 0.98;
  }
}
