* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  height: max(8vh, 50px);
  width: 100vw;
  padding-top: 10px;
}

main {
  display: flex;
  flex-direction: row;
  height: 92vh;
}

.App {
  background: blue;
  background-size: 20px 20px;
  background-image: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(245, 245, 245, 0.2) 1px, transparent 1px);
}
