.figures {
  width: 45%;
  height: auto;
  position: relative;
}

.figure-style {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Element Specific */

.light-bulb {
  transform: translateY(-50px);
  width: 400px;
}

.ballerina-sketch {
  opacity: 75%;
  z-index: 0;
}

.ballerina-filled {
  transform: translateX(-5px);
  opacity: 0;
  animation: ballerina-appear 1s ease-in-out 16s forwards;
  z-index: 1;
}

/* Light Bulb element properties */
.off path {
  stroke-width: 2;
}

.off {
  z-index: 0;
}

.on {
  z-index: 1;
  animation: light-bulb-disappears 0.5s ease 9s forwards;
}

.off .sparks path {
  visibility: hidden;
  animation: sparks-appear 0.5s linear 8s;
}

.on .sparks path {
  visibility: hidden;
}

/* Ballerina specific */

@keyframes sparks-appear {
  from {
    visibility: visible;
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: -1;
    visibility: hidden;
  }
}

@keyframes light-bulb-disappears {
  to {
    opacity: 0;
  }
}

/* Ballerina Element Properties */

.ballerina-sketch path {
  stroke-width: 3;
}

.ballerina-filled path {
  stroke-width: 0;
}

@keyframes ballerina-appear {
  to {
    opacity: 1;
  }
}

@keyframes disable-object {
  to {
    display: none;
  }
}
